section {
    padding-bottom: 0px;
    padding-top: 3.5rem !important;
}

html {
    scroll-behavior: smooth;
}

.strut {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nav-link {
    display: inline-block;
    vertical-align: middle;
}

#exec, #viz {
    width: 100%;
    position: relative;
    margin: 0px;
}

#b_btn, .typeahead, #behavior_buttons {
    position: absolute;
    top: calc(3.5rem + 20px);
    z-index: 1000;
}

#b_btn, .typeahead {
    left: 20px;
}

#behavior_buttons {
    right: 20px;
    background-color: rgba(255, 255, 255, .7);
}

.group:hover, circle:hover, .node:hover, .node text:hover {
    cursor: pointer;
}

#book-display {
    color: white;
    overflow: auto;
    height: 100%;
}

.loading {
    position: absolute;
    top: 43%;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
}

#book-display .loading {
    background-color: rgba(0, 0, 0, .6);
    color: white
}

#sidebar-wrapper {
    overflow-y: visible !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px; */
    /* height: 28px; */
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.hide-book {
    position: absolute;
    right: -15px;
    top: 7rem;
    background-color: black;
    color: white;
    width: 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

html body {
    height: 100%;
}

div.mate_shadow {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0px;
    height: 0px;
    border-radius: 3em;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.9); position: absolute;
    z-index: 2000;
    visibility: none;
}

div.mate_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

div.mate-content {
    position: fixed;
    /* top: %; /\\* 25% from the top *\\/ *\/ */
    width: 40%; /* 100% width */
    bottom: 10%;
    left: 5%;
    /* margin: 0 auto; */
    font-family: sans-serif;
    text-align: center; /* Centered text/links */
    /* margin-top: 30px; /\* 30px top margin to avoid conflict with the close button on smaller screens *\/ */
    margin-bottom: 120px; /* 120px margin bottom to avoid conflict with data storage disclaimer */
}

.hide-loading {
  opacity: 0;
  transition: opacity 2s linear;
}

.actions-btn.bs-select-all.btn.btn-light {
    display: none;
}

.actions-btn.bs-deselect-all.btn.btn-light {
    width: 100%;
}

#title_text{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#stream-graph-container {
    background-color: rgb(203, 203, 203);
}
